# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
**/.env
.venv
env/
venv/
ENV/

# Logs
*.log
**/*.log

# IDE/Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
